.pet-care-card {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  background-color: var(--gray);
  padding: 3rem;
}

.care-price {
  font-size: 5rem;
  font-weight: bold;
}

.care-price-box span {
  font-family: var(--f-nunito-xb);
}

.pet-care-card.orng-b{
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
