.loc-map {
  width: 100%;
  min-height: 70vh;
}

.loc-box {
  width: 100%;
  height: 70vh !important;
}

.our-office {
  max-width: 20rem;
  background-color: var(--white);
  position: absolute;
  top: 1rem;
  right: 4rem;
}
